<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>add Book</title>
  </head>
  <body>
    <nav class="listingNav nav">
      <span class="anchorNav">BookStore</span>
      <a href="/books" class="btn addBook-btn">Back</a>
    </nav>
    <div class="outer-formOutline">
      <div class="formOutline">
        <!--add form-->
        <h4 class="formTitle">Add Book</h4>
        <form action="/books/new" method="post">
          <input type="text" name="title" placeholder="Add Title" />
          <textarea name="desc" placeholder="Add Description"></textarea>
          <input type="number" name="price" placeholder="Add price" />
          <input type="text" name="author" placeholder="Add author" />
          <input type="submit" value="Add Book" class="btn btn-submit" />
        </form>
      </div>
    </div>
  </body>
</html>
