<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <title>BooksInfo</title>
  </head>
  <body>
    <nav class="listingNav nav">
      <span class="anchorNav">BookStore</span>
      <a href="/books" class="btn addBook-btn">Back</a>
    </nav>
    <div class="UpdateBook-form">
        <form class="comment-form-update" action="/comments/<%= comment.id %>/edit" method="post">
            <textarea name="content"><%= comment.content %></textarea>
            <input type="submit" value="Update" class="btn addBook-btn">
        </form>
    </div>
  </body>
</html>
